# .flake8
[flake8]
application-import-names = tessif,tests,noxfile
# B,B9 = Bugbear; BLK= black warning; C = mccabe complexity; D = Docstring; F = pyflake errors; W,E = pycodestyle; I = import order; S=Securtiy
select = B,B9,B950,BLK,C,D,DAR,E,F,I,N,RST,S,W
docstring-convention = numpy
# ignore incompatible black warnings:
# E203 (Whitespace before ‘:')
# W503 (Line break before binary operator)
extend-ignore = E203,W503,E501
max-complexity = 10
max-line-length = 79
# ignore assert warning in tests, sinc pytests requires asserts
per-file-ignores = tests/*:S101
